$montserrat-font:'Montserrat', sans-serif;

$headerHeight:10%;

$lighter-gray-color: #9ca1b2;
$light-gray-color: #404359;
$dark-gray-color: #2f3242;
$gray-color-conversation: #2b2d3c;
$black-color: rgba(38, 55, 66, 255);
$white-color: #ffffff;
$blue-color: #2196f3;
$black-color: #2b2d3c;

$xl-font-size: 22px;
$lg-font-size: 18px;
$md-font-size: 16px;
$sm-font-size: 14px;