$montserrat-font:'Montserrat', sans-serif;

$white-color: #ffffff;
$lighter-gray-color: #9ca1b2;
$light-gray-color: #404359;
$dark-gray-color: #2f3242;
$gray-color-conversation: #2b2d3c;
$black-color: #2b2d3c;
$blue-color: #2196f3;
$cornflowerblue-color : cornflowerblue;
$red-color: #F31C2A;

$xxl-font-size: 40px;
$xl-font-size: 22px;
$lg-font-size: 18px;
$md-font-size: 16px;
$sm-font-size: 14px;